body {
  background-color: #D14F8A;
  color: white;
  font-family: avenir;
  font-size: 40px;
  margin: 75px 75px;
}
a {
  text-transform: uppercase;
  color:black;
  text-decoration: none;
  letter-spacing: 30px
}
a:hover {
  color:white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li{
  margin:25px 0 0 0;
}
h1{
  text-align: center;
}
#images {
  margin: 0;
  text-align: center;
}
#images {
  max-width: 75%;
  margin: 25px 0;
}
