body{
  margin: 0px auto;
}

.container{
  width: 1200px;
  height: 2250px;
  margin: 0px 100px 0px 100px;
  float: left;
  background-color: #779C74;
}
.title{
  width: 300px;
  margin: 100px 20px 0px 0px;
  font-size: 60px;
  transform: rotate(90deg);
  float: left;

}
.letter{
  height: 600px;
  margin: 0px 320px 0px 320px;
  float: left;

}
.h2{
  font-size: 120px;
  text-align: center;
}
.h3{
  font-size: 60px;
}
.author{
  width: 300px;
  float: left;
  margin: 0px 0px 0px 940px;
  font-size: 35px;
  transform: rotate(90deg);
}


@media only screen and (max-width: 800px) {
  body {
    background-color: black;
    color: white;
}
.container{
  margin: 50px auto;
  background-color: black;
  color: white;
}
.body{
  width: 100%;
  margin: 20% 0 0 0%;
color: white;
}
