body{
  background-color: pink;
}
*{
  box-sizing:border-box;
}

.court {
  width: 900px;
  margin: 100px auto;

}
.side{
  width: 150px;
  height: 600px;
  background-color: lightgreen;
  float: left;
  border:5px solid white;
}
.back{
  width: 600px;
  height:200px;
  background-color: lightgreen;
  float:left;
  border:5px solid white;
}
.service{
  width: 300px;
  height: 400px;
  background-color: lightgreen;
  float: left;
  border:5px solid white;
}
.single{
  float: left;
  width: 600px;
}
