body{
  margin: 0;
}
.container {
  width: 120%;
  margin: -50px -10px;
}
.block1, .block2, .block3{
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px;
  float: right;
  border-radius: 30%;

}
.block1 {
  background-color: #3a3e47;
}
.block2 {
  background-color: #ffc1c1;
}
.block3 {
  background-color: #fbdb48;
}
