body{
  margin: 0;
}
.container {
  width: 120%;
  margin: -100px -10px;
}
.block1, .block2, .block3{
  width: 60px;
  height: 200px;
  background-color: white;
  margin: 10px;
  float: right;
  border-radius: 0px;
  border-style: solid; color: black;


}
.block1 {
  background-color: #ffc300;
}
.block2 {
  background-color: #d696bb;
}
.block3 {
  background-color: #44bec7;
}
