body{
  margin: 0;
}
.container {
  width: 120%;
  margin: 0px -10px;
}
.block1, .block2, .block3{
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
  float: right;

}
.block1 {
  background-color: #04d6c8;
}
.block2 {
  background-color: #025172;
}
.block3 {
  background-color: #0D1E31;
}
