body {
  background-color: #55B4B0;
  color: white;
  font-family: serif;
  font-size: 25px;
  margin: 100px 300px;

.container {
    width: 50%;
    margin: 100px auto;
}

}
a {
  text-transform: uppercase;
  color:black;
  text-decoration: none;
  letter-spacing: 30px
}
a:hover {
  color:white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li{
  margin:25px 0 0 0;
}
h1{
  text-align: center;
  font-family: avenir;
  font-size: 75px;
  color: black;

}
#images {
  margin: 0;
  text-align: center;
}
#images {
  max-width: 75%;
  margin: 25px 0;
}

  p {
    color:black
    margin-bottom:1:15rem

}
  .intro {
  color: pink;
  font-size: 45px;
}
