body {
  margin: 0;
  background-color: tan;
}
.board {
  width: 800px;
  margin: 100px auto;

}
.red, .white {
  float: left;
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}
