body{
  background-color: #D3D3D3;
}
.container {
  width: 900px;
  margin: 100px 0px;
}
.title, .column1, .column2, .subhead {
  float: left;
  background-color: #269F2C;
}
.title {
  width: 900px;
  height: 150px;
}
.column1 {
  width: 700px;
  height: 400px;
  margin: 150px 0px 0px 0px;
}
.subhead {
  width: 700px;
  height: 50px;
  margin: 20px 0px;
}

.column2 {
  float: left;
  background-color: #269F2C;
  width: 160px;
  height: 200px;
  margin: 150px 20px 0px;
}
