body{
  margin: 0;
}
.container {
  width: 120%;
  margin: -50px -10px;
}
.block1, .block2, .block3, .block4{
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px;
  float: left;
  border-radius: 50%;

}
.block1 {
  background-color: #B29B8D;
}
.block2 {
  background-color: #6B5B95;
}
.block3 {
  background-color: #C58E00;
}
.block4 {
  background-color: #009B77;
}
