body{
  background-color: white;
}
*{

  box-sizing:border-box;
}

.container{
  width: 900px;
  margin: 100px auto;
}
.topsix{
  width: 600px;
  float:left;
}
.onexsix{
  width: 100px;
  height:250px;
  background-color: red;
  border: 5px solid white;
  float:left;
}
.onextwo{
  width:100px;
  float:left;
}
.bottom{
  width: 500px;
  height: 500px;
  float:left;
}
.b1{
  width: 100px;
  height:500px;
  float:left;
  background-color: red;
  border: 5px solid white;
}
.b2{
  width: 200px;
  height: 500px;
  float: left;
  background-color: red;
  border: 5px soild white;
}
.largeside{
  width: 300px;
  float: left;

}
.side{
  width: 300px;
  height: 750px;
  background-color: red;
  float:left;
  border: 5px soild white;
}
